@using PersonalWebsite.Entity.DTO.SocialDTO
@using PersonalWebsite.Entity.Result
@model UIResponse<List<SocialDTOResponse>>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/AdminPanel/Views/Shared/Layout.cshtml";
}

<div class="bg-secondary rounded h-100 p-4">
	<h6 class="mb-4">Sosyal Medyalar</h6>
	<button type="button" class="btn btn-outline-success m-2 float-end" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Ekle</button>
	<!-- Button trigger modal -->
	<div class="modal  fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog ">
			<div class="modal-content">
				<form action="/AddSocial" method="post">
					<div class="modal-header bg-dark">
						<h1 class="modal-title fs-5" id="staticBackdropLabel">Sosyal medya ekle</h1>
						<button type="button" class="btn btn-outline-success" data-bs-dismiss="modal" aria-label="Close">X</button>
					</div>
					<div class="modal-body bg-dark">
						<input type="text" class="form-control" name="Name" placeholder="İsim" />
					</div>
					<div class="modal-body bg-dark">
						<input type="text" class="form-control" name="Url" placeholder="Link" />
					</div>
					<div class="modal-body bg-dark">
						<input type="file" class="form-control" name="Image" placeholder="Resim" />
					</div>
					<div class="modal-footer bg-dark">
						<button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">İptal</button>
						<button type="submit" class="btn btn-outline-success">Ekle</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">İsim</th>
				<th scope="col">Link</th>
				<th scope="col">Resim</th>
				<th scope="col" width="60"></th>
				<th scope="col" width="60"></th>
			</tr>
		</thead>
		<tbody>
			@{
				var count = 1;
			}

			<!-- Update Modal-->
			@foreach (var item in Model.Data)
			{
				<div class="modal  fade" id="staticBackdropUpdate-@item.Id" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
					<div class="modal-dialog ">
						<div class="modal-content">
							<form action="/AddSocial" method="post">
								<div class="modal-header bg-dark">
									<h1 class="modal-title fs-5" id="staticBackdropLabel">Çalışma ekle</h1>
									<button type="button" class="btn btn-outline-success" data-bs-dismiss="modal" aria-label="Close">X</button>
								</div>
								<div class="modal-body bg-dark">
									<input hidden="hidden" class="form-control" name="Id" placeholder="Id" value="@item.Id" />
									<input type="text" class="form-control" name="Name" placeholder="İsim" value="@item.Name" />
								</div>
								<div class="modal-body bg-dark">
									<input type="text" class="form-control" name="Url" placeholder="Link" value="@item.Url" />
								</div>
								<div class="modal-body bg-dark">
									<input type="file" class="form-control" name="Image" placeholder="Resim" value="@item.Image" />
								</div>
								<div class="modal-footer bg-dark">
									<button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">İptal</button>
									<button type="submit" class="btn btn-outline-success">Ekle</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				<tr>
					<th scope="row" style="color:#43c95f">@count</th>
					<td style="color:#43c95f">@item.Name</td>
					<td style="color:#43c95f">@item.Url</td>
					<td style="color:#43c95f"><img src="~/images/@item.Image" style="max-width:45px; max-height:45px;"/></td>
					<td><button type="button" class="btn btn-outline-info m-2" data-bs-toggle="modal" data-bs-target="#staticBackdropUpdate-@item.Id">Güncelle</button></td>
					<td><button type="button" class="btn btn-outline-danger m-2">Sil</button></td>
				</tr>
				{
					count += 1;
				}
			}
		</tbody>


</div>

